.container {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 335px;
	padding-inline: 20px;
}

.logo {
	font-size: 16px;
	font-weight: 700;
	line-height: calc(18 / 16);
	letter-spacing: -0.02em;
}

.button {
	position: relative;
	width: 24px;
	height: 10px;
	border: none;
	background-color: transparent;
	color: transparent;
}

.button::before,
.button::after {
	content: '';
	position: absolute;
	top: calc(50% - 3px);
	right: 0;
	width: 24px;
	height: 2px;
	border-radius: 2px;
	background-color: var(--bg-accent);
}

.button::after {
	top: calc(50% + 3px);
}
