.hero {
	display: flex;
	flex-direction: column;
}

.picture {
	display: flex;
	align-items: flex-end;
	width: 335px;
	height: 387px;
	margin-bottom: 20px;
	border-radius: 30px;
	background-image: url('/images/general/hero375w.webp');
	background-size: 335px 387px;
	background-repeat: no-repeat;
}

.motto {
	width: 335px;
	padding: 60px 20px 80px;
	border-radius: 30px;
	background-color: var(--bg-light);
}

.title {
	margin-bottom: 20px;
	font-size: 56px;
	font-weight: 400;
	line-height: calc(50 / 56);
	letter-spacing: -0.02em;
}

.selection {
	color: var(--color-selection);
	font-style: italic;
}

.text {
	font-size: 14px;
	line-height: calc(18 / 14);
	letter-spacing: -0.01em;
}

@media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.picture {
		background-image: url('/images/general/hero375w@2x.webp');
	}
}
